.vscode/**
.vscode-test/**
.github/**
out/**
src/**
scripts/**
fixtures/**
.gitignore
.mocharc.json
.vscode-test.mjs
esbuild.mjs
eslint.config.mjs
knip.json
tsconfig.json
node_modules/**
**/*.map
**/*.ts
**/*.vsix
