.vscode/**
.vscode-test/**
.github/**
out/**
src/**
scripts/**
fixtures/**
.gitignore
.mocharc.json
.vscode-test.js
esbuild.js
eslint.config.mjs
tsconfig.json
node_modules/**
**/*.map
**/*.ts
**/*.vsix
docs/**
